{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="top_titre">Bienvenue sur mon blog personnel!</h1>
    <div class="col-md-8 offset-2">
        {% for article in articles %}
            <div class="article_apercu">
                <h2>
                    <a class="lien" href="/post/{{ article.url }}">{{article.titre}}</a>
                </h2>
                <p>{{ article.date.format('d/m/Y G:i') }}</p>

                <div class="contenu-apercu">{{ article.contenu|markdown }}</div>
                <a class="btn btn-primary btnRead" href="/post/{{ article.url }}">Lire l'article</a>
            </div>
        {% endfor %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}